
/* Selectores por etiqueta */

html {
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
}

h1,h2,h3 {
    font-family: "Lato Black";
}

h1, h2 {
    color: #2C637F;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    color: #5091B2;
}

/* Selectores por clase (class)*/

.foto-perfil {
    width: 20%;
}

.datos-personales {
    list-style: none;
    padding: 0;
}

div.seccion {
    background: #ccc;
}

.nombre-materia {
    color: #5091B2;
    font-style: italic;
}

.periodo {
    font-size: 0.8rem;
    color: black;
}